variables:
  REPO_URL: "https://gitlab.com/saljooq/steamednotes.git"

stages:
 - terraform
 - build
 - certs
 - deploy

terraform_setup:
  stage: terraform
  image: registry.gitlab.com/gitlab-org/terraform-images/stable:latest
  script:
    - cd terraform
    - terraform init
    - terraform plan
    - terraform apply -auto-approve
    - |
      NEW_IP=$(terraform output -raw ec2_public_ip)
      if [ "$NEW_IP" != "$EC2_HOST" ]; then
        echo "IP has changed! Updating GitLab CI/CD variable from $EC2_HOST to $NEW_IP..."
        curl --request PUT \
          --header "PRIVATE-TOKEN: $GITLAB_TOKEN" \
          --data "value=$NEW_IP" \
          "https://gitlab.com/api/v4/projects/$PROJECT_ID/variables/EC2_HOST"
        if [ $? -eq 0 ]; then
          echo "Successfully updated EC2_HOST to $NEW_IP."
        else
          echo "Failed to update variable EC2_HOST!"
          exit 1
        fi
      else
        echo "No change in public IP detected. It's still $EC2_HOST"
      fi
  when: manual


# Reusable SSH base job
.ssh_base:
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/steamednotes_key.pem
    - chmod 600 ~/.ssh/steamednotes_key.pem
    - echo $EC2_HOST
    - ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts
    # - ssh -i ~/.ssh/steamednotes_key.pem -v ubuntu@$EC2_HOST || true  # Verbose debug


# This would do several things:
# 1. KILL processes in all ports that might be used (80 and 8080)
# 2. check if repo is already there, do docker compose down otherwise get 
# the latest changes
# 3. 
deploy_to_ec2:
  extends: .ssh_base
  stage: deploy
  script:
    - |
      if [ -f backend/main ]; then
        echo "Copying over the backend artifacts"
        scp -i ~/.ssh/steamednotes_key.pem backend/main ubuntu@$EC2_HOST:/tmp/main
      else
        echo "No artifacts backend to copy - will use if any already existed in remote"
      fi
      if [ -d dist ]; then
        echo "Copying over the frontend artifacts"
        scp -r -i ~/.ssh/steamednotes_key.pem dist ubuntu@$EC2_HOST:/tmp/
      else
        echo "No frontend artifacts to copy - will use existing on remote if present"
      fi
      if [ -d certbot ]; then
        echo "Copying over the certs"
        scp -r -i ~/.ssh/steamednotes_key.pem  certbot/certs certbot/www ubuntu@$EC2_HOST:/tmp/certbot/
      fi
      ssh -i ~/.ssh/steamednotes_key.pem ubuntu@$EC2_HOST << ENDSSH
        set -x
        echo "Next we will update and install docker and git"
        sudo apt update -y
        sudo apt install -y docker.io git docker-compose psmisc
        echo "We will stop processes in port 80 and 8080"
        sudo fuser -k 80/tcp || true 
        sudo fuser -k 8080/tcp || true 
        echo "Starting docker"
        sudo systemctl start docker
        sudo usermod -a -G docker ubuntu
        echo "Next we check if existing repo existed we do docker-compose down"
        cd ~ && [ -d app ] && cd app && docker-compose down || true
        docker stop nginx_temp
        docker rm nginx_temp
        echo "Cleaning up previous work and doing a fresh clone"
        cd ~
        [ -f ../dbdata ] || mkdir ../dbdata 
        sudo rm -rf app
        git clone --depth=1 $REPO_URL app
        cd app
        [ -f /tmp/main ] && cp /tmp/main backend/main || echo "No backend/main to copy"
        [ -d /tmp/dist ] && cp -r /tmp/dist/. dist || echo "No dist to copy"
        [ -d /tmp/certbot ] && cp -r /tmp/certbot/. certbot || echo "No certs to copy"
        chmod +x backend/main
        sudo docker-compose up -d
        docker ps -a
        CONTAINER_IDS=\$(docker ps -a -q)
        set +x
        for ID in \${CONTAINER_IDS} 
        do 
          echo "Printing logs for \$ID" 
          echo "======================================" 
          docker logs \$ID | tail -n 15 
          printf "\n\n\n" 
        done
      ENDSSH
  when: manual

build_go_binary:
  stage: build
  image: golang:1.23
  script:
    - cd backend
    - go mod tidy
    - CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a -ldflags '-w -s -extldflags "-static"' -o main .
  artifacts:
    paths:
      - backend/main  # Store the binary
    expire_in: 1 hour
  when: manual


build_frontend:
  stage: build
  image: node:22
  script:
    - cd frontend/steamed-notes-frontend
    - npm install
    - npm run build
    - mv dist ../../  # Move to root for Dockerfile
  artifacts:
    paths:
      - dist/
    expire_in: 1 hour
  when: manual


certificates:
  stage: certs
  extends: .ssh_base
  script:
    - |
      ssh -i ~/.ssh/steamednotes_key.pem ubuntu@$EC2_HOST << ENDSSH
        set -x
        cd ~/app 
        echo  "Pulling certbot container"
        docker pull certbot/certbot
        [ -d ../certbot ] || mkdir ../certbot
        docker stop app_frontend_1
        docker rm app_frontend_1
        docker stop nginx_temp
        docker rm nginx_temp
        docker run --rm -d --name nginx_temp \
          -p 80:80 \
          -v ./dist:/usr/share/nginx/html \
          -v ./frontend/nginx/temp_80_only/nginx.conf:/etc/nginx/nginx.conf:ro \
          -v /home/ubuntu/certbot/certs:/etc/letsencrypt \
          -v /home/ubuntu/certbot/www:/var/www/certbot \
          nginx:alpine
        docker run --rm \
          -v /home/ubuntu/certbot/certs:/etc/letsencrypt \
          -v /home/ubuntu/certbot/www:/var/www \
          -v /home/ubuntu/certbot/log/letsencrypt:/var/log/letsencrypt \
          certbot/certbot certonly \
          --webroot -w /var/www \
          -d steamednotes.com,www.steamednotes.com \
          -m $EMAIL \
          --agree-tos --non-interactive --verbose
        cd ..
      ENDSSH 
      cd /home/ubuntu
  artifacts:
    paths:
      - certbot/certs/
      - certbot/www/
    expire_in: 1 month
  when: manual